<div style="width:30%;margin: auto;" *ngIf="team">
  <h2 style="text-align: center;">Team: {{team.team_name}}</h2>
  <ul>
    <li><b>team name</b> : {{team.team_name}}</li>
    <li role="listitem"><b>coach</b> : {{team.coach}}</li>
    <li role="listitem"><b>Average points per game</b> : {{team.team_avg}}</li>
  </ul>

      <div><b>players</b>:
        <ul role="list">
          <li *ngFor="let player of team.players" role="listitem">{{player.first_name}} {{player.last_name  }}
            <a routerLink="/player/{{player.id}}">: get more details</a></li>
        </ul>
      </div>
</div>
