
<h1 style="text-align: center;">{{title}}</h1>
<button  mat-raised-button *ngIf="hasToken()" (click)="logout()">log out</button>
&#160;
<button  mat-raised-button (click)="goBack()">go back</button>



<router-outlet></router-outlet>
