<div *ngIf="games" class= "main-container">
  <h2 style="text-align: center;">The competition table</h2>
 
  <div style="text-align: center;">Eighth-finals</div> 
  <div class="stage-container">
    <div *ngFor="let game of games.EI">
      <app-game-detail [game]="game" [user_details]="user_details"></app-game-detail>
    </div>
  </div>
    <div style="text-align: center;">quarterfinal</div> 

  <div class="stage-container">
    <div *ngFor="let game of games.QU">
      <app-game-detail [game]="game" [user_details]="user_details"></app-game-detail>
    </div>
  </div>
  
  <div style="text-align: center;">The semi-final</div> 

  <div class="stage-container">
    <div *ngFor="let game of games.SF">
      <app-game-detail [game]="game" [user_details]="user_details"></app-game-detail>
    </div>
  </div>
  
  <div style="text-align: center;">the final</div> 

  <div class="stage-container">
    <div *ngFor="let game of games.FI">
      <app-game-detail [game]="game" [user_details]="user_details"></app-game-detail>
    </div>
  </div>
</div>
