<div  style="width:20%;margin: auto;" *ngIf="player">
  <h2 style="text-align: center;">Player: {{player.player_name}}</h2>

    <ul>
        <li><b>player name</b> : {{player.player_name}}</li>
        <li><b>player height</b> : {{player.player_height}}</li>
        <li><b>The number of games he participated in</b> : {{player.amount_of_games}}</li>
        <li><b>Average points per game</b> : {{player.avg_points}}</li>

      </ul>
</div>


