<mat-card class="example-card" *ngIf="game && user_details">
  <mat-card-content>

    <div style="display: flex;">
      <div style="flex-direction: column;
      display: flex;
      align-items: center;">
        <div class="go-to-team" *ngIf="isAdminOrCoach(game.teamA.id);else unauthorized_content"
          routerLink="/team/{{game.teamA.id}}">
          {{game.teamA.name}}
        </div>
        <ng-template #unauthorized_content>
          <div>
            {{game.teamA.name}}
          </div>
        </ng-template>
        <div>{{game.teamA.points}}</div>
      </div>

      <div style="font-weight: bold; font-size: large;margin:0  4px;"> VS </div>

      <div style="flex-direction: column;
      display: flex;
      align-items: center;">
        <div class="go-to-team" *ngIf="isAdminOrCoach(game.teamB.id);else teamB_unauthorized_content"
          routerLink="/team/{{game.teamB.id}}">
          {{game.teamB.name}}
        </div>
        <ng-template #teamB_unauthorized_content>
          <div>
            {{game.teamB.name}}
          </div>
        </ng-template>
        <div>{{game.teamB.points}}</div>
      </div>

    </div>
  </mat-card-content>
</mat-card>
